:root {
  --border-radius-button: 5px;
}

::-moz-focus-inner {
  border: 0;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Open sans", sans-serif, arial;
  color: #aa9333;
  background-color: #fefefc;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.none {
  display: none;
}

.strong, .negrita {
  font-weight: bold;
}

.normal {
  font-weight: normal;
  font-style: normal;
}

.italic {
  font-style: italic;
}

.oblicua, .oblique {
  font-style: oblique;
}

.header {
  display: grid;
  grid-template-rows: 0 minmax(200px, 1fr);
  position: relative;
}
.header__navbar {
  z-index: 10;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.banner--indicator {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
}
.banner--indicator .indicator--item {
  background-color: rgba(255, 255, 255, 0.6);
}
.banner--indicator .indicator--selected {
  background-color: #c0a11d;
}
.banner__images {
  position: relative;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}
.banner__images::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.banner__img {
  display: block;
  position: absolute;
  top: 0;
  bottom: auto;
  --width: 100vw;
  --height: 100vh;
}
@media (orientation: portrait) {
  .banner__img {
    min-width: 100vw;
    height: var(--height);
    left: calc(var(--width) / -1.5);
  }
}
@media (orientation: landscape) {
  .banner__img {
    min-height: 100vh;
    width: var(--width);
  }
}
@supports (object-fit: cover) and (object-position: top center) {
  .banner__img {
    object-fit: cover;
    object-position: top center;
    width: var(--width);
    height: var(--height);
    left: 0;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  outline: medium none;
}
.menu__link:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --height: 100px;
  margin: 0 auto;
  width: 90%;
  height: var(--height);
  z-index: 2;
}
@media screen and (max-width: 960px) {
  .navbar {
    --height: 50px;
  }
}
.navbar__logo {
  max-height: 100%;
  width: var(--height);
}
.navbar__logo--img {
  max-width: 100%;
  max-height: 100%;
  transition: 300ms ease;
  padding-bottom: 6px;
  background-color: rgba(255, 255, 255, 0.7);
}
.navbar__logo--img:hover {
  background-color: white;
}
.navbar__logo--img:active {
  transition: none;
  transform: scale(0.98);
}
.navbar__label {
  display: none;
  --proporcion: 40px;
  color: white;
  cursor: default;
  width: var(--proporcion);
  height: var(--proporcion);
  max-height: 100%;
  border-radius: var(--border-radius-button);
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}
@media screen and (max-width: 960px) {
  .navbar__label {
    display: flex;
    z-index: 1;
  }
}
.navbar__label:hover {
  background-color: rgba(203, 167, 18, 0.5);
}
.navbar__checkbox {
  display: none;
}
.navbar__checkbox:checked + .navbar__label:hover {
  background-color: rgba(119, 96, 0, 0.5);
}
@media screen and (max-width: 960px) {
  .navbar__checkbox:checked ~ .navbar__menu {
    transform: rotateX(0deg);
  }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  .navbar__checkbox:checked ~ .navbar__menu {
    transform: rotateX(0deg);
  }
}
.navbar__menu {
  display: flex;
  height: 40px;
  transition: 600ms cubic-bezier(0, 0, 0.5, 2);
}
@media screen and (max-width: 960px) {
  .navbar__menu {
    flex-direction: column;
    width: 100vh;
    position: absolute;
    margin: auto;
    height: auto;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    background-color: rgba(52, 45, 16, 0.6);
    transform-origin: 50% 0;
    transform: rotateX(90deg);
    padding-top: var(--height);
  }
}
@media screen and (max-width: 480px) {
  .navbar__menu {
    max-width: 70vh;
  }
}
.navbar__menu--item {
  display: flex;
}
.navbar__menu--item:first-of-type {
  border-top: 1px solid rgba(224, 209, 150, 0.3);
}
@media screen and (max-width: 960px) {
  .navbar__menu--item {
    min-height: 40px;
  }
}
.navbar__menu--link {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0 10px;
  border-radius: var(--border-radius-button);
  transition: 150ms ease;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
@media screen and (max-width: 960px) {
  .navbar__menu--link {
    width: 100%;
    border-radius: 0;
  }
}
.navbar__menu--link:hover, .navbar__menu--link:focus {
  background-color: rgba(170, 147, 51, 0.2);
  color: white;
  text-decoration: none;
}
.navbar__menu--link:active {
  background-color: rgba(119, 96, 0, 0.55);
}

.main {
  min-height: 100vh;
}
.main__header {
  background-color: #0d0b04;
}
.main__footer {
  background-color: silver;
  color: black;
}

.flex {
  display: flex;
}
.flex--row {
  flex-direction: row;
}
.flex--column {
  flex-direction: column;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--nowrap {
  flex-wrap: nowrap;
}
.flex--grow-0 {
  flex-grow: 0;
}
.flex--shrink-0 {
  flex-shrink: 0;
}
.flex--grow-1 {
  flex-grow: 1;
}
.flex--shrink-1 {
  flex-shrink: 1;
}
.flex--grow-2 {
  flex-grow: 2;
}
.flex--shrink-2 {
  flex-shrink: 2;
}
.flex--grow-3 {
  flex-grow: 3;
}
.flex--shrink-3 {
  flex-shrink: 3;
}
.flex--grow-4 {
  flex-grow: 4;
}
.flex--shrink-4 {
  flex-shrink: 4;
}
.flex--grow-5 {
  flex-grow: 5;
}
.flex--shrink-5 {
  flex-shrink: 5;
}
.flex--grow-6 {
  flex-grow: 6;
}
.flex--shrink-6 {
  flex-shrink: 6;
}
.flex--grow-7 {
  flex-grow: 7;
}
.flex--shrink-7 {
  flex-shrink: 7;
}
.flex--grow-8 {
  flex-grow: 8;
}
.flex--shrink-8 {
  flex-shrink: 8;
}
.flex--grow-9 {
  flex-grow: 9;
}
.flex--shrink-9 {
  flex-shrink: 9;
}
.flex--grow-10 {
  flex-grow: 10;
}
.flex--shrink-10 {
  flex-shrink: 10;
}
.flex--grow-11 {
  flex-grow: 11;
}
.flex--shrink-11 {
  flex-shrink: 11;
}
.flex--grow-12 {
  flex-grow: 12;
}
.flex--shrink-12 {
  flex-shrink: 12;
}
.align-items--center {
  align-items: center;
}
.align-item--stretch {
  align-items: stretch;
}
.justify-content--center {
  justify-content: center;
}
.justify-content--space-between {
  justify-content: space-between;
}
.flex--item {
  flex-basis: 200px;
}

.navbar-contact-us {
  position: relative;
  margin: 0 auto;
  min-height: 70px;
  width: 100%;
  padding: 3px 10px;
  background-color: #211c0a;
}
.navbar-contact-us .phone {
  display: block;
  padding: 0 10px;
}
.navbar-contact-us .phone span:last-of-type {
  padding-left: 10px;
}
.navbar-contact-us .phone,
.navbar-contact-us .email,
.navbar-contact-us .rrss {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 10px;
}
.navbar-contact-us--item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  min-width: 250px;
  color: #d9d4c1;
}
@media screen and (max-width: 480px) {
  .navbar-contact-us--item:not(.h) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  .navbar-contact-us--item:not(.h) {
    flex-basis: 300px;
    margin-bottom: 5px;
  }
}
.navbar-contact-us--item:not(.input-text) {
  height: 40px;
}
@media screen and (max-width: 1270px) {
  .navbar-contact-us h1.h,
  .navbar-contact-us h2.h,
  .navbar-contact-us h3.h,
  .navbar-contact-us h4.h,
  .navbar-contact-us h5.h,
  .navbar-contact-us h6.h {
    width: 100%;
    margin-bottom: 10px;
  }
}
.navbar-contact-us--item, .navbar-contact-us--link {
  font-size: 0.9rem;
}
.navbar-contact-us--icons {
  height: 27px;
  padding-right: 10px;
}
.navbar-contact-us--link {
  --width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d9d4c1;
  padding: 0 10px;
  height: 100%;
  max-height: var(--width);
  min-width: var(--width);
  border-radius: 5px;
  transition: 300ms ease;
}
.navbar-contact-us--link:hover {
  background-color: rgba(235, 227, 190, 0.2);
  color: #ffe577;
}
.navbar-contact-us .input-text {
  --height: 35px;
  color: white;
  min-width: 250px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
}
.navbar-contact-us .input-text [type] {
  --diametro: 26px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-image: none;
  outline: medium none;
}
.navbar-contact-us .input-text [type="text"] {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0 calc(var(--diametro) * 1.22) 0 18px;
  border-radius: calc(var(--height) / 2);
  font-size: 0.9rem;
  text-overflow: ellipsis;
  z-index: 1;
}
.navbar-contact-us .input-text [type="button"],
.navbar-contact-us .input-text [type="submit"],
.navbar-contact-us .input-text button {
  width: var(--diametro);
  height: var(--diametro);
  border-radius: calc(var(--diametro));
  color: white;
  background-color: #aa9333;
  border: 0;
  left: auto;
  right: 5px;
  cursor: default;
  z-index: 2;
}

.grid {
  display: grid;
  position: relative;
  justify-content: center;
}
.grid--image {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.grid--item {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 33.3333333333vw;
}
.grid--gallery {
  z-index: 0;
  min-height: calc(25vw - 75px);
}
.grid--gallery:nth-of-type(2n + 1)::before {
  background-color: #010100;
}
.grid--gallery::before {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c4f1b;
  background-color: #0d0b04;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.grid--gallery::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.column-1 {
  grid-template-columns: repeat(1, minmax(200px, 1fr));
}

.column-2 {
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.column-3 {
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.column-4 {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.column-5 {
  grid-template-columns: repeat(5, minmax(200px, 1fr));
}

.column-6 {
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}

.column-7 {
  grid-template-columns: repeat(7, minmax(200px, 1fr));
}

.column-8 {
  grid-template-columns: repeat(8, minmax(200px, 1fr));
}

.column-9 {
  grid-template-columns: repeat(9, minmax(200px, 1fr));
}

.column-10 {
  grid-template-columns: repeat(10, minmax(200px, 1fr));
}

.column-11 {
  grid-template-columns: repeat(11, minmax(200px, 1fr));
}

.column-12 {
  grid-template-columns: repeat(12, minmax(200px, 1fr));
}

.gap-5 {
  grid-gap: 5px;
}

.gap-10 {
  grid-gap: 10px;
}

.gap-15 {
  grid-gap: 15px;
}

.gap-20 {
  grid-gap: 20px;
}

.gap-25 {
  grid-gap: 25px;
}

.gap-30 {
  grid-gap: 30px;
}

.gap-35 {
  grid-gap: 35px;
}

.gap-40 {
  grid-gap: 40px;
}

.gap-45 {
  grid-gap: 45px;
}

.gap-50 {
  grid-gap: 50px;
}

.gap-55 {
  grid-gap: 55px;
}

.gap-60 {
  grid-gap: 60px;
}

.gap-65 {
  grid-gap: 65px;
}

.gap-70 {
  grid-gap: 70px;
}

.gap-75 {
  grid-gap: 75px;
}

.gap-80 {
  grid-gap: 80px;
}

.gap-85 {
  grid-gap: 85px;
}

.gap-90 {
  grid-gap: 90px;
}

.gap-95 {
  grid-gap: 95px;
}

.gap-100 {
  grid-gap: 100px;
}

.collections--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 147, 51, 0.3);
}
.collections--item > * {
  display: flex;
  justify-content: center;
  margin: 0;
}
.collections--item > *:not(hr):not(.collections--h) {
  padding: 10px;
  font-size: 0.9rem;
  width: 80%;
}
.collections--h {
  padding: 30px 10px 5px 0;
}
.collections--item hr {
  border: 0;
  border-bottom: 15px solid #aa9333;
  width: 25%;
}
.collections--h {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.collections--tips {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collections--tips h1, .collections--tips h2, .collections--tips h3, .collections--tips h4, .collections--tips h5, .collections--tips h6 {
  margin-bottom: 20px;
}
.collections--tips p {
  max-width: 65%;
  line-height: 1.6;
}

.blog {
  padding: 5px 20px;
  padding-bottom: 100px;
}
.blog--content-card {
  margin: 0 auto;
}
.blog--card {
  background-color: #f9f9f9;
  color: #403713;
}
.blog--img {
  position: relative;
  background-color: #342d10;
  color: white;
  height: 400px;
  overflow: hidden;
}
.blog--img img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.blog--text {
  padding: 10px;
  font-size: 0.8rem;
}
.blog--text-content {
  font-size: 3rem;
  text-align: center;
  padding: 50px 0;
}

.text--capitalize {
  text-transform: capitalize;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--small {
  font-size: 0.8em;
}
.text--normal {
  font-size: 1em;
}
.text--big {
  font-size: 2.3em;
}
.text--big-lg {
  font-size: 3em;
}
.text--center {
  text-align: center;
}

.text-content {
  position: relative;
  min-height: 200px;
  color: #666666;
}
.text-content * {
  margin: 0;
}
.text-content__p {
  width: 100%;
  max-width: 780px;
  margin-top: 30px;
  margin-bottom: -40px;
  line-height: 1.6;
}

.accessories--background-image {
  background-image: url("../images/fotos/banner-accesorios.jpg");
  background-attachment: scroll;
  background-size: 110% auto;
  background-position: 40% 45%;
}
.accessories--background-image::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.accessories--text-content {
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accessories--text-content h1, .accessories--text-content h2, .accessories--text-content h3, .accessories--text-content h4, .accessories--text-content h5, .accessories--text-content h6 {
  color: #b59a28;
  letter-spacing: 3px;
}
.accessories--text-content h1, .accessories--text-content h2, .accessories--text-content h3, .accessories--text-content h4, .accessories--text-content h5, .accessories--text-content h6, .accessories--text-content p {
  text-align: center;
  z-index: 3;
}
.accessories--content {
  padding: 50px;
  background-color: white;
}
.accessories--text {
  min-height: 270px;
}

.sliders, .sliders--left, .sliders--right {
  position: relative;
}
.sliders--right::before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.sliders--content {
  min-height: 400px;
}
.sliders h1, .sliders h2, .sliders h3, .sliders h4, .sliders h5, .sliders h6 {
  margin: 0;
}
.sliders p {
  margin-bottom: 20px;
}
.sliders .button {
  margin-top: 20px;
}
.sliders img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center 45%;
  object-position: center 45%;
}

.indicator {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.indicator--item {
  --diametro: 10px;
  height: var(--diametro);
  width: var(--diametro);
  border-radius: calc(var(--diametro) / 2);
  background-color: #cccccc;
  margin: 5px;
  cursor: pointer;
}
.indicator--selected {
  background-color: #c0a11d;
}

.about--tips {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  min-height: 90px;
}
.about--title {
  padding: 20px 10px;
}
.about--title, .about--description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--description {
  margin: 0 auto;
  font-size: 0.8rem;
  max-width: 1020px;
  line-height: 1.5;
  padding: 10px 10px 40px 10px;
}

.nav-image--left, .nav-image--right {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  color: white;
  transition: 200ms ease;
  transform-style: preserve-3d;
  perspective: 10px;
  z-index: 3;
}
.nav-image--left:hover, .nav-image--right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav-image--left:hover::before, .nav-image--right:hover::before {
  color: #aa9333;
}
.nav-image--left:active, .nav-image--right:active {
  transition: none;
}
.nav-image--left::before, .nav-image--right::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
}
.nav-image--left {
  left: 0;
  right: auto;
  transform-origin: left;
}
.nav-image--left:active {
  transform: rotateY(20deg);
}
.nav-image--right {
  left: auto;
  right: 0;
  transform-origin: right;
}
.nav-image--right:active {
  transform: rotateY(-20deg);
}

.kendys--title {
  position: relative;
  margin: 0;
  font-size: 3rem;
  color: #aa9333;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.kendys--title::before {
  content: "";
  height: 8px;
  width: 50%;
  background-color: #aa9333;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
}

.footer {
  min-height: 300px;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.6;
  background-color: white;
}
.footer--border {
  border-top: 1px solid #aa9333;
  border-bottom: 1px solid #aa9333;
}
@media screen and (min-width: 481px) and (max-width: 960px) {
  .footer .flex--item:first-of-type {
    flex-shrink: 0;
  }
}
.footer--item h1, .footer--item h2, .footer--item h3, .footer--item h4, .footer--item h5, .footer--item h6 {
  margin: 0;
}
.footer--item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer--item ul li {
  padding-left: 10px;
}
.footer--padding {
  padding: 40px 20px;
}

.info {
  border-bottom: 1px solid #aa9333;
}
.info--item {
  padding: 0 10px;
}
.info--item, .info--link {
  color: #443b14;
}
.info--link {
  text-decoration: none;
}
.info--link:hover {
  text-decoration: underline;
}

.info,
.website {
  min-height: 50px;
}

.website {
  color: #443b14;
}

.content-image {
  position: relative;
  width: 300px;
  height: 190px;
}
.content-image--image, .content-image--caption {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px;
}
.content-image--image {
  top: 0;
  bottom: 30%;
}
.content-image--image img {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  object-position: center;
}
.content-image--caption {
  top: 70%;
  bottom: 0;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links--link {
  text-decoration: none;
  font-size: 0.85rem;
  outline: medium none;
}
.links--link:hover {
  text-decoration: underline;
}
.links--title, .links--link {
  color: rgba(72, 62, 22, 0.8);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: medium none;
  text-decoration: none;
  border: 0;
  min-height: 35px;
  border-radius: 5px;
  transition: 200ms ease;
  background-color: #e6e6e6;
  background-image: none;
  color: #4d4d4d;
  cursor: default;
  padding: 0 10px;
  font-size: 0.9rem;
}
.button:hover {
  color: #aa9333;
}
.button:active {
  background-color: rgba(196, 158, 0, 0.05);
  transition: none;
  box-shadow: 0 0 0px 1px rgba(170, 147, 51, 0.3);
}
.button--uppercase {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.button--lowercase {
  text-transform: lowercase;
}
.button--capitalize {
  text-transform: capitalize;
}
.button--solid-translucid {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: 1px solid;
  padding: 0 20px;
  font-size: 1.3rem;
  min-height: 50px;
  min-width: 170px;
}
.button--small-t {
  font-size: 1rem;
  min-height: 40px;
  min-width: 140px;
}
.button--big-t {
  font-size: 1.3rem;
  min-height: 50px;
  min-width: 170px;
}

.bc--red {
  background-color: #ff0000;
}
.bc--black {
  background-color: #000;
}
.bc--gray-10 {
  background-color: #e6e6e6;
}
.bc--gray-20 {
  background-color: #cccccc;
}
.bc--gray-30 {
  background-color: #b3b3b3;
}
.bc--gray-40 {
  background-color: #999999;
}
.bc--gray-50 {
  background-color: gray;
}
.bc--gray-60 {
  background-color: #666666;
}
.bc--gray-70 {
  background-color: #4d4d4d;
}
.bc--gray-80 {
  background-color: #333333;
}
.bc--gray-90 {
  background-color: #1a1a1a;
}
.bc--base {
  background-color: #aa9333;
}

.fc--white {
  color: white;
}
.fc--base {
  color: #aa9333;
}
.fc--facebook {
  color: #000000;
}
.fc--twitter {
  color: #000000;
}
.fc--instagram {
  color: #000000;
}
.fc--black {
  color: #000;
}
.fc--gray-10 {
  color: #e6e6e6;
}
.fc--gray-20 {
  color: #cccccc;
}
.fc--gray-30 {
  color: #b3b3b3;
}
.fc--gray-40 {
  color: #999999;
}
.fc--gray-50 {
  color: gray;
}
.fc--gray-60 {
  color: #666666;
}
.fc--gray-70 {
  color: #4d4d4d;
}
.fc--gray-80 {
  color: #333333;
}
.fc--gray-90 {
  color: #1a1a1a;
}

.width--0 {
  width: 0;
}

.width--5 {
  width: 5%;
}

.width--10 {
  width: 10%;
}

.width--15 {
  width: 15%;
}

.width--20 {
  width: 20%;
}

.width--25 {
  width: 25%;
}

.width--30 {
  width: 30%;
}

.width--35 {
  width: 35%;
}

.width--40 {
  width: 40%;
}

.width--45 {
  width: 45%;
}

.width--50 {
  width: 50%;
}

.width--55 {
  width: 55%;
}

.width--60 {
  width: 60%;
}

.width--65 {
  width: 65%;
}

.width--70 {
  width: 70%;
}

.width--75 {
  width: 75%;
}

.width--80 {
  width: 80%;
}

.width--85 {
  width: 85%;
}

.width--90 {
  width: 90%;
}

.width--95 {
  width: 95%;
}

.width--100 {
  width: 100%;
}

.height--0vh {
  height: 0;
}

.height--5vh {
  height: 5vh;
}

.height--10vh {
  height: 10vh;
}

.height--15vh {
  height: 15vh;
}

.height--20vh {
  height: 20vh;
}

.height--25vh {
  height: 25vh;
}

.height--30vh {
  height: 30vh;
}

.height--35vh {
  height: 35vh;
}

.height--40vh {
  height: 40vh;
}

.height--45vh {
  height: 45vh;
}

.height--50vh {
  height: 50vh;
}

.height--55vh {
  height: 55vh;
}

.height--60vh {
  height: 60vh;
}

.height--65vh {
  height: 65vh;
}

.height--70vh {
  height: 70vh;
}

.height--75vh {
  height: 75vh;
}

.height--80vh {
  height: 80vh;
}

.height--85vh {
  height: 85vh;
}

.height--90vh {
  height: 90vh;
}

.height--95vh {
  height: 95vh;
}

.height--100vh {
  height: 100vh;
}

.height--0 {
  height: 0;
}

.height--5 {
  height: 5%;
}

.height--10 {
  height: 10%;
}

.height--15 {
  height: 15%;
}

.height--20 {
  height: 20%;
}

.height--25 {
  height: 25%;
}

.height--30 {
  height: 30%;
}

.height--35 {
  height: 35%;
}

.height--40 {
  height: 40%;
}

.height--45 {
  height: 45%;
}

.height--50 {
  height: 50%;
}

.height--55 {
  height: 55%;
}

.height--60 {
  height: 60%;
}

.height--65 {
  height: 65%;
}

.height--70 {
  height: 70%;
}

.height--75 {
  height: 75%;
}

.height--80 {
  height: 80%;
}

.height--85 {
  height: 85%;
}

.height--90 {
  height: 90%;
}

.height--95 {
  height: 95%;
}

.height--100 {
  height: 100%;
}

.min-height--0vh {
  min-height: 0;
}

.min-height--5vh {
  min-height: 5vh;
}

.min-height--10vh {
  min-height: 10vh;
}

.min-height--15vh {
  min-height: 15vh;
}

.min-height--20vh {
  min-height: 20vh;
}

.min-height--25vh {
  min-height: 25vh;
}

.min-height--30vh {
  min-height: 30vh;
}

.min-height--35vh {
  min-height: 35vh;
}

.min-height--40vh {
  min-height: 40vh;
}

.min-height--45vh {
  min-height: 45vh;
}

.min-height--50vh {
  min-height: 50vh;
}

.min-height--55vh {
  min-height: 55vh;
}

.min-height--60vh {
  min-height: 60vh;
}

.min-height--65vh {
  min-height: 65vh;
}

.min-height--70vh {
  min-height: 70vh;
}

.min-height--75vh {
  min-height: 75vh;
}

.min-height--80vh {
  min-height: 80vh;
}

.min-height--85vh {
  min-height: 85vh;
}

.min-height--90vh {
  min-height: 90vh;
}

.min-height--95vh {
  min-height: 95vh;
}

.min-height--100vh {
  min-height: 100vh;
}

.height--0px {
  height: 0;
}

.height--5px {
  height: 5px;
}

.height--10px {
  height: 10px;
}

.height--15px {
  height: 15px;
}

.height--20px {
  height: 20px;
}

.height--25px {
  height: 25px;
}

.height--30px {
  height: 30px;
}

.height--35px {
  height: 35px;
}

.height--40px {
  height: 40px;
}

.height--45px {
  height: 45px;
}

.height--50px {
  height: 50px;
}

.height--55px {
  height: 55px;
}

.height--60px {
  height: 60px;
}

.height--65px {
  height: 65px;
}

.height--70px {
  height: 70px;
}

.height--75px {
  height: 75px;
}

.height--80px {
  height: 80px;
}

.height--85px {
  height: 85px;
}

.height--90px {
  height: 90px;
}

.height--95px {
  height: 95px;
}

.height--100px {
  height: 100px;
}

.height--105px {
  height: 105px;
}

.height--110px {
  height: 110px;
}

.height--115px {
  height: 115px;
}

.height--120px {
  height: 120px;
}

.height--125px {
  height: 125px;
}

.height--130px {
  height: 130px;
}

.height--135px {
  height: 135px;
}

.height--140px {
  height: 140px;
}

.height--145px {
  height: 145px;
}

.height--150px {
  height: 150px;
}

.height--155px {
  height: 155px;
}

.height--160px {
  height: 160px;
}

.height--165px {
  height: 165px;
}

.height--170px {
  height: 170px;
}

.height--175px {
  height: 175px;
}

.height--180px {
  height: 180px;
}

.height--185px {
  height: 185px;
}

.height--190px {
  height: 190px;
}

.height--195px {
  height: 195px;
}

.height--200px {
  height: 200px;
}

.height--205px {
  height: 205px;
}

.height--210px {
  height: 210px;
}

.height--215px {
  height: 215px;
}

.height--220px {
  height: 220px;
}

.height--225px {
  height: 225px;
}

.height--230px {
  height: 230px;
}

.height--235px {
  height: 235px;
}

.height--240px {
  height: 240px;
}

.height--245px {
  height: 245px;
}

.height--250px {
  height: 250px;
}

.height--255px {
  height: 255px;
}

.height--260px {
  height: 260px;
}

.height--265px {
  height: 265px;
}

.height--270px {
  height: 270px;
}

.height--275px {
  height: 275px;
}

.height--280px {
  height: 280px;
}

.height--285px {
  height: 285px;
}

.height--290px {
  height: 290px;
}

.height--295px {
  height: 295px;
}

.height--300px {
  height: 300px;
}

.height--305px {
  height: 305px;
}

.height--310px {
  height: 310px;
}

.height--315px {
  height: 315px;
}

.height--320px {
  height: 320px;
}

.height--325px {
  height: 325px;
}

.height--330px {
  height: 330px;
}

.height--335px {
  height: 335px;
}

.height--340px {
  height: 340px;
}

.height--345px {
  height: 345px;
}

.height--350px {
  height: 350px;
}

.height--355px {
  height: 355px;
}

.height--360px {
  height: 360px;
}

.height--365px {
  height: 365px;
}

.height--370px {
  height: 370px;
}

.height--375px {
  height: 375px;
}

.height--380px {
  height: 380px;
}

.height--385px {
  height: 385px;
}

.height--390px {
  height: 390px;
}

.height--395px {
  height: 395px;
}

.height--400px {
  height: 400px;
}

.height--405px {
  height: 405px;
}

.height--410px {
  height: 410px;
}

.height--415px {
  height: 415px;
}

.height--420px {
  height: 420px;
}

.height--425px {
  height: 425px;
}

.height--430px {
  height: 430px;
}

.height--435px {
  height: 435px;
}

.height--440px {
  height: 440px;
}

.height--445px {
  height: 445px;
}

.height--450px {
  height: 450px;
}

.height--455px {
  height: 455px;
}

.height--460px {
  height: 460px;
}

.height--465px {
  height: 465px;
}

.height--470px {
  height: 470px;
}

.height--475px {
  height: 475px;
}

.height--480px {
  height: 480px;
}

.height--485px {
  height: 485px;
}

.height--490px {
  height: 490px;
}

.height--495px {
  height: 495px;
}

.height--500px {
  height: 500px;
}

.height--505px {
  height: 505px;
}

.height--510px {
  height: 510px;
}

.height--515px {
  height: 515px;
}

.height--520px {
  height: 520px;
}

.height--525px {
  height: 525px;
}

.height--530px {
  height: 530px;
}

.height--535px {
  height: 535px;
}

.height--540px {
  height: 540px;
}

.height--545px {
  height: 545px;
}

.height--550px {
  height: 550px;
}

.height--555px {
  height: 555px;
}

.height--560px {
  height: 560px;
}

.height--565px {
  height: 565px;
}

.height--570px {
  height: 570px;
}

.height--575px {
  height: 575px;
}

.height--580px {
  height: 580px;
}

.height--585px {
  height: 585px;
}

.height--590px {
  height: 590px;
}

.height--595px {
  height: 595px;
}

.height--600px {
  height: 600px;
}

.height--605px {
  height: 605px;
}

.height--610px {
  height: 610px;
}

.height--615px {
  height: 615px;
}

.height--620px {
  height: 620px;
}

.height--625px {
  height: 625px;
}

.height--630px {
  height: 630px;
}

.height--635px {
  height: 635px;
}

.height--640px {
  height: 640px;
}

.height--645px {
  height: 645px;
}

.height--650px {
  height: 650px;
}

.height--655px {
  height: 655px;
}

.height--660px {
  height: 660px;
}

.height--665px {
  height: 665px;
}

.height--670px {
  height: 670px;
}

.height--675px {
  height: 675px;
}

.height--680px {
  height: 680px;
}

.height--685px {
  height: 685px;
}

.height--690px {
  height: 690px;
}

.height--695px {
  height: 695px;
}

.height--700px {
  height: 700px;
}

.height--705px {
  height: 705px;
}

.height--710px {
  height: 710px;
}

.height--715px {
  height: 715px;
}

.height--720px {
  height: 720px;
}

.height--725px {
  height: 725px;
}

.height--730px {
  height: 730px;
}

.height--735px {
  height: 735px;
}

.height--740px {
  height: 740px;
}

.height--745px {
  height: 745px;
}

.height--750px {
  height: 750px;
}

.height--755px {
  height: 755px;
}

.height--760px {
  height: 760px;
}

.height--765px {
  height: 765px;
}

.height--770px {
  height: 770px;
}

.height--775px {
  height: 775px;
}

.height--780px {
  height: 780px;
}

.height--785px {
  height: 785px;
}

.height--790px {
  height: 790px;
}

.height--795px {
  height: 795px;
}

.height--800px {
  height: 800px;
}

.height--805px {
  height: 805px;
}

.height--810px {
  height: 810px;
}

.height--815px {
  height: 815px;
}

.height--820px {
  height: 820px;
}

.height--825px {
  height: 825px;
}

.height--830px {
  height: 830px;
}

.height--835px {
  height: 835px;
}

.height--840px {
  height: 840px;
}

.height--845px {
  height: 845px;
}

.height--850px {
  height: 850px;
}

.height--855px {
  height: 855px;
}

.height--860px {
  height: 860px;
}

.height--865px {
  height: 865px;
}

.height--870px {
  height: 870px;
}

.height--875px {
  height: 875px;
}

.height--880px {
  height: 880px;
}

.height--885px {
  height: 885px;
}

.height--890px {
  height: 890px;
}

.height--895px {
  height: 895px;
}

.height--900px {
  height: 900px;
}

.height--905px {
  height: 905px;
}

.height--910px {
  height: 910px;
}

.height--915px {
  height: 915px;
}

.height--920px {
  height: 920px;
}

.height--925px {
  height: 925px;
}

.height--930px {
  height: 930px;
}

.height--935px {
  height: 935px;
}

.height--940px {
  height: 940px;
}

.height--945px {
  height: 945px;
}

.height--950px {
  height: 950px;
}

.height--955px {
  height: 955px;
}

.height--960px {
  height: 960px;
}

.height--965px {
  height: 965px;
}

.height--970px {
  height: 970px;
}

.height--975px {
  height: 975px;
}

.height--980px {
  height: 980px;
}

.height--985px {
  height: 985px;
}

.height--990px {
  height: 990px;
}

.height--995px {
  height: 995px;
}

.height--1000px {
  height: 1000px;
}

.height--1005px {
  height: 1005px;
}

.height--1010px {
  height: 1010px;
}

.height--1015px {
  height: 1015px;
}

.height--1020px {
  height: 1020px;
}

.height--1025px {
  height: 1025px;
}

.height--1030px {
  height: 1030px;
}

.height--1035px {
  height: 1035px;
}

.height--1040px {
  height: 1040px;
}

.height--1045px {
  height: 1045px;
}

.height--1050px {
  height: 1050px;
}

.height--1055px {
  height: 1055px;
}

.height--1060px {
  height: 1060px;
}

.height--1065px {
  height: 1065px;
}

.height--1070px {
  height: 1070px;
}

.height--1075px {
  height: 1075px;
}

.height--1080px {
  height: 1080px;
}

.height--1085px {
  height: 1085px;
}

.height--1090px {
  height: 1090px;
}

.height--1095px {
  height: 1095px;
}

.height--1100px {
  height: 1100px;
}

.height--1105px {
  height: 1105px;
}

.height--1110px {
  height: 1110px;
}

.height--1115px {
  height: 1115px;
}

.height--1120px {
  height: 1120px;
}

.height--1125px {
  height: 1125px;
}

.height--1130px {
  height: 1130px;
}

.height--1135px {
  height: 1135px;
}

.height--1140px {
  height: 1140px;
}

.height--1145px {
  height: 1145px;
}

.height--1150px {
  height: 1150px;
}

.height--1155px {
  height: 1155px;
}

.height--1160px {
  height: 1160px;
}

.height--1165px {
  height: 1165px;
}

.height--1170px {
  height: 1170px;
}

.height--1175px {
  height: 1175px;
}

.height--1180px {
  height: 1180px;
}

.height--1185px {
  height: 1185px;
}

.height--1190px {
  height: 1190px;
}

.height--1195px {
  height: 1195px;
}

.height--1200px {
  height: 1200px;
}

.height--1205px {
  height: 1205px;
}

.height--1210px {
  height: 1210px;
}

.height--1215px {
  height: 1215px;
}

.height--1220px {
  height: 1220px;
}

.height--1225px {
  height: 1225px;
}

.height--1230px {
  height: 1230px;
}

.height--1235px {
  height: 1235px;
}

.height--1240px {
  height: 1240px;
}

.height--1245px {
  height: 1245px;
}

.height--1250px {
  height: 1250px;
}

.height--1255px {
  height: 1255px;
}

.height--1260px {
  height: 1260px;
}

.height--1265px {
  height: 1265px;
}

.height--1270px {
  height: 1270px;
}

.height--1275px {
  height: 1275px;
}

.height--1280px {
  height: 1280px;
}

.height--1285px {
  height: 1285px;
}

.height--1290px {
  height: 1290px;
}

.height--1295px {
  height: 1295px;
}

.height--1300px {
  height: 1300px;
}

.height--1305px {
  height: 1305px;
}

.height--1310px {
  height: 1310px;
}

.height--1315px {
  height: 1315px;
}

.height--1320px {
  height: 1320px;
}

.height--1325px {
  height: 1325px;
}

.height--1330px {
  height: 1330px;
}

.height--1335px {
  height: 1335px;
}

.height--1340px {
  height: 1340px;
}

.height--1345px {
  height: 1345px;
}

.height--1350px {
  height: 1350px;
}

.height--1355px {
  height: 1355px;
}

.height--1360px {
  height: 1360px;
}

.height--1365px {
  height: 1365px;
}

.height--1370px {
  height: 1370px;
}

.height--1375px {
  height: 1375px;
}

.height--1380px {
  height: 1380px;
}

.height--1385px {
  height: 1385px;
}

.height--1390px {
  height: 1390px;
}

.height--1395px {
  height: 1395px;
}

.height--1400px {
  height: 1400px;
}

.height--1405px {
  height: 1405px;
}

.height--1410px {
  height: 1410px;
}

.height--1415px {
  height: 1415px;
}

.height--1420px {
  height: 1420px;
}

.height--1425px {
  height: 1425px;
}

.height--1430px {
  height: 1430px;
}

.height--1435px {
  height: 1435px;
}

.height--1440px {
  height: 1440px;
}

.height--1445px {
  height: 1445px;
}

.height--1450px {
  height: 1450px;
}

.height--1455px {
  height: 1455px;
}

.height--1460px {
  height: 1460px;
}

.height--1465px {
  height: 1465px;
}

.height--1470px {
  height: 1470px;
}

.height--1475px {
  height: 1475px;
}

.height--1480px {
  height: 1480px;
}

.height--1485px {
  height: 1485px;
}

.height--1490px {
  height: 1490px;
}

.height--1495px {
  height: 1495px;
}

.height--1500px {
  height: 1500px;
}

.height--1505px {
  height: 1505px;
}

.height--1510px {
  height: 1510px;
}

.height--1515px {
  height: 1515px;
}

.height--1520px {
  height: 1520px;
}

.height--1525px {
  height: 1525px;
}

.height--1530px {
  height: 1530px;
}

.height--1535px {
  height: 1535px;
}

.height--1540px {
  height: 1540px;
}

.height--1545px {
  height: 1545px;
}

.height--1550px {
  height: 1550px;
}

.height--1555px {
  height: 1555px;
}

.height--1560px {
  height: 1560px;
}

.height--1565px {
  height: 1565px;
}

.height--1570px {
  height: 1570px;
}

.height--1575px {
  height: 1575px;
}

.height--1580px {
  height: 1580px;
}

.height--1585px {
  height: 1585px;
}

.height--1590px {
  height: 1590px;
}

.height--1595px {
  height: 1595px;
}

.height--1600px {
  height: 1600px;
}

.height--1605px {
  height: 1605px;
}

.height--1610px {
  height: 1610px;
}

.height--1615px {
  height: 1615px;
}

.height--1620px {
  height: 1620px;
}

.height--1625px {
  height: 1625px;
}

.height--1630px {
  height: 1630px;
}

.height--1635px {
  height: 1635px;
}

.height--1640px {
  height: 1640px;
}

.height--1645px {
  height: 1645px;
}

.height--1650px {
  height: 1650px;
}

.height--1655px {
  height: 1655px;
}

.height--1660px {
  height: 1660px;
}

.height--1665px {
  height: 1665px;
}

.height--1670px {
  height: 1670px;
}

.height--1675px {
  height: 1675px;
}

.height--1680px {
  height: 1680px;
}

.height--1685px {
  height: 1685px;
}

.height--1690px {
  height: 1690px;
}

.height--1695px {
  height: 1695px;
}

.height--1700px {
  height: 1700px;
}

.height--1705px {
  height: 1705px;
}

.height--1710px {
  height: 1710px;
}

.height--1715px {
  height: 1715px;
}

.height--1720px {
  height: 1720px;
}

.height--1725px {
  height: 1725px;
}

.height--1730px {
  height: 1730px;
}

.height--1735px {
  height: 1735px;
}

.height--1740px {
  height: 1740px;
}

.height--1745px {
  height: 1745px;
}

.height--1750px {
  height: 1750px;
}

.height--1755px {
  height: 1755px;
}

.height--1760px {
  height: 1760px;
}

.height--1765px {
  height: 1765px;
}

.height--1770px {
  height: 1770px;
}

.height--1775px {
  height: 1775px;
}

.height--1780px {
  height: 1780px;
}

.height--1785px {
  height: 1785px;
}

.height--1790px {
  height: 1790px;
}

.height--1795px {
  height: 1795px;
}

.height--1800px {
  height: 1800px;
}

.height--1805px {
  height: 1805px;
}

.height--1810px {
  height: 1810px;
}

.height--1815px {
  height: 1815px;
}

.height--1820px {
  height: 1820px;
}

.height--1825px {
  height: 1825px;
}

.height--1830px {
  height: 1830px;
}

.height--1835px {
  height: 1835px;
}

.height--1840px {
  height: 1840px;
}

.height--1845px {
  height: 1845px;
}

.height--1850px {
  height: 1850px;
}

.height--1855px {
  height: 1855px;
}

.height--1860px {
  height: 1860px;
}

.height--1865px {
  height: 1865px;
}

.height--1870px {
  height: 1870px;
}

.height--1875px {
  height: 1875px;
}

.height--1880px {
  height: 1880px;
}

.height--1885px {
  height: 1885px;
}

.height--1890px {
  height: 1890px;
}

.height--1895px {
  height: 1895px;
}

.height--1900px {
  height: 1900px;
}

.height--1905px {
  height: 1905px;
}

.height--1910px {
  height: 1910px;
}

.height--1915px {
  height: 1915px;
}

.height--1920px {
  height: 1920px;
}

.height--1925px {
  height: 1925px;
}

.height--1930px {
  height: 1930px;
}

.height--1935px {
  height: 1935px;
}

.height--1940px {
  height: 1940px;
}

.height--1945px {
  height: 1945px;
}

.height--1950px {
  height: 1950px;
}

.height--1955px {
  height: 1955px;
}

.height--1960px {
  height: 1960px;
}

.height--1965px {
  height: 1965px;
}

.height--1970px {
  height: 1970px;
}

.height--1975px {
  height: 1975px;
}

.height--1980px {
  height: 1980px;
}

.height--1985px {
  height: 1985px;
}

.height--1990px {
  height: 1990px;
}

.height--1995px {
  height: 1995px;
}

.height--2000px {
  height: 2000px;
}

.height--2005px {
  height: 2005px;
}

.height--2010px {
  height: 2010px;
}

.height--2015px {
  height: 2015px;
}

.height--2020px {
  height: 2020px;
}

.height--2025px {
  height: 2025px;
}

.height--2030px {
  height: 2030px;
}

.height--2035px {
  height: 2035px;
}

.height--2040px {
  height: 2040px;
}

.height--2045px {
  height: 2045px;
}

.height--2050px {
  height: 2050px;
}

.height--2055px {
  height: 2055px;
}

.height--2060px {
  height: 2060px;
}

.height--2065px {
  height: 2065px;
}

.height--2070px {
  height: 2070px;
}

.height--2075px {
  height: 2075px;
}

.height--2080px {
  height: 2080px;
}

.height--2085px {
  height: 2085px;
}

.height--2090px {
  height: 2090px;
}

.height--2095px {
  height: 2095px;
}

.height--2100px {
  height: 2100px;
}

.height--2105px {
  height: 2105px;
}

.height--2110px {
  height: 2110px;
}

.height--2115px {
  height: 2115px;
}

.height--2120px {
  height: 2120px;
}

.height--2125px {
  height: 2125px;
}

.height--2130px {
  height: 2130px;
}

.height--2135px {
  height: 2135px;
}

.height--2140px {
  height: 2140px;
}

.height--2145px {
  height: 2145px;
}

.height--2150px {
  height: 2150px;
}

.height--2155px {
  height: 2155px;
}

.height--2160px {
  height: 2160px;
}

.height--2165px {
  height: 2165px;
}

.height--2170px {
  height: 2170px;
}

.height--2175px {
  height: 2175px;
}

.height--2180px {
  height: 2180px;
}

.height--2185px {
  height: 2185px;
}

.height--2190px {
  height: 2190px;
}

.height--2195px {
  height: 2195px;
}

.height--2200px {
  height: 2200px;
}

.height--2205px {
  height: 2205px;
}

.height--2210px {
  height: 2210px;
}

.height--2215px {
  height: 2215px;
}

.height--2220px {
  height: 2220px;
}

.height--2225px {
  height: 2225px;
}

.height--2230px {
  height: 2230px;
}

.height--2235px {
  height: 2235px;
}

.height--2240px {
  height: 2240px;
}

.height--2245px {
  height: 2245px;
}

.height--2250px {
  height: 2250px;
}

.height--2255px {
  height: 2255px;
}

.height--2260px {
  height: 2260px;
}

.height--2265px {
  height: 2265px;
}

.height--2270px {
  height: 2270px;
}

.height--2275px {
  height: 2275px;
}

.height--2280px {
  height: 2280px;
}

.height--2285px {
  height: 2285px;
}

.height--2290px {
  height: 2290px;
}

.height--2295px {
  height: 2295px;
}

.height--2300px {
  height: 2300px;
}

.height--2305px {
  height: 2305px;
}

.height--2310px {
  height: 2310px;
}

.height--2315px {
  height: 2315px;
}

.height--2320px {
  height: 2320px;
}

.height--2325px {
  height: 2325px;
}

.height--2330px {
  height: 2330px;
}

.height--2335px {
  height: 2335px;
}

.height--2340px {
  height: 2340px;
}

.height--2345px {
  height: 2345px;
}

.height--2350px {
  height: 2350px;
}

.height--2355px {
  height: 2355px;
}

.height--2360px {
  height: 2360px;
}

.height--2365px {
  height: 2365px;
}

.height--2370px {
  height: 2370px;
}

.height--2375px {
  height: 2375px;
}

.height--2380px {
  height: 2380px;
}

.height--2385px {
  height: 2385px;
}

.height--2390px {
  height: 2390px;
}

.height--2395px {
  height: 2395px;
}

.height--2400px {
  height: 2400px;
}

.height--2405px {
  height: 2405px;
}

.height--2410px {
  height: 2410px;
}

.height--2415px {
  height: 2415px;
}

.height--2420px {
  height: 2420px;
}

.height--2425px {
  height: 2425px;
}

.height--2430px {
  height: 2430px;
}

.height--2435px {
  height: 2435px;
}

.height--2440px {
  height: 2440px;
}

.height--2445px {
  height: 2445px;
}

.height--2450px {
  height: 2450px;
}

.height--2455px {
  height: 2455px;
}

.height--2460px {
  height: 2460px;
}

.height--2465px {
  height: 2465px;
}

.height--2470px {
  height: 2470px;
}

.height--2475px {
  height: 2475px;
}

.height--2480px {
  height: 2480px;
}

.height--2485px {
  height: 2485px;
}

.height--2490px {
  height: 2490px;
}

.height--2495px {
  height: 2495px;
}

.height--2500px {
  height: 2500px;
}

.margin-bottom--0px {
  margin-bottom: 0;
}

.margin-bottom--5px {
  margin-bottom: 5px;
}

.margin-bottom--10px {
  margin-bottom: 10px;
}

.margin-bottom--15px {
  margin-bottom: 15px;
}

.margin-bottom--20px {
  margin-bottom: 20px;
}

.margin-bottom--25px {
  margin-bottom: 25px;
}

.margin-bottom--30px {
  margin-bottom: 30px;
}

.margin-bottom--35px {
  margin-bottom: 35px;
}

.margin-bottom--40px {
  margin-bottom: 40px;
}

.margin-bottom--45px {
  margin-bottom: 45px;
}

.margin-bottom--50px {
  margin-bottom: 50px;
}

.margin-bottom--55px {
  margin-bottom: 55px;
}

.margin-bottom--60px {
  margin-bottom: 60px;
}

.margin-bottom--65px {
  margin-bottom: 65px;
}

.margin-bottom--70px {
  margin-bottom: 70px;
}

.margin-bottom--75px {
  margin-bottom: 75px;
}

.margin-bottom--80px {
  margin-bottom: 80px;
}

.margin-bottom--85px {
  margin-bottom: 85px;
}

.margin-bottom--90px {
  margin-bottom: 90px;
}

.margin-bottom--95px {
  margin-bottom: 95px;
}

.margin-bottom--100px {
  margin-bottom: 100px;
}

.margin-bottom--105px {
  margin-bottom: 105px;
}

.margin-bottom--110px {
  margin-bottom: 110px;
}

.margin-bottom--115px {
  margin-bottom: 115px;
}

.margin-bottom--120px {
  margin-bottom: 120px;
}

.margin-bottom--125px {
  margin-bottom: 125px;
}

.margin-bottom--130px {
  margin-bottom: 130px;
}

.margin-bottom--135px {
  margin-bottom: 135px;
}

.margin-bottom--140px {
  margin-bottom: 140px;
}

.margin-bottom--145px {
  margin-bottom: 145px;
}

.margin-bottom--150px {
  margin-bottom: 150px;
}

.margin-bottom--155px {
  margin-bottom: 155px;
}

.margin-bottom--160px {
  margin-bottom: 160px;
}

.margin-bottom--165px {
  margin-bottom: 165px;
}

.margin-bottom--170px {
  margin-bottom: 170px;
}

.margin-bottom--175px {
  margin-bottom: 175px;
}

.margin-bottom--180px {
  margin-bottom: 180px;
}

.margin-bottom--185px {
  margin-bottom: 185px;
}

.margin-bottom--190px {
  margin-bottom: 190px;
}

.margin-bottom--195px {
  margin-bottom: 195px;
}

.margin-bottom--200px {
  margin-bottom: 200px;
}

.margin-bottom--205px {
  margin-bottom: 205px;
}

.margin-bottom--210px {
  margin-bottom: 210px;
}

.margin-bottom--215px {
  margin-bottom: 215px;
}

.margin-bottom--220px {
  margin-bottom: 220px;
}

.margin-bottom--225px {
  margin-bottom: 225px;
}

.margin-bottom--230px {
  margin-bottom: 230px;
}

.margin-bottom--235px {
  margin-bottom: 235px;
}

.margin-bottom--240px {
  margin-bottom: 240px;
}

.margin-bottom--245px {
  margin-bottom: 245px;
}

.margin-bottom--250px {
  margin-bottom: 250px;
}

.margin-bottom--255px {
  margin-bottom: 255px;
}

.margin-bottom--260px {
  margin-bottom: 260px;
}

.margin-bottom--265px {
  margin-bottom: 265px;
}

.margin-bottom--270px {
  margin-bottom: 270px;
}

.margin-bottom--275px {
  margin-bottom: 275px;
}

.margin-bottom--280px {
  margin-bottom: 280px;
}

.margin-bottom--285px {
  margin-bottom: 285px;
}

.margin-bottom--290px {
  margin-bottom: 290px;
}

.margin-bottom--295px {
  margin-bottom: 295px;
}

.margin-bottom--300px {
  margin-bottom: 300px;
}

.margin-bottom--305px {
  margin-bottom: 305px;
}

.margin-bottom--310px {
  margin-bottom: 310px;
}

.margin-bottom--315px {
  margin-bottom: 315px;
}

.margin-bottom--320px {
  margin-bottom: 320px;
}

.margin-bottom--325px {
  margin-bottom: 325px;
}

.margin-bottom--330px {
  margin-bottom: 330px;
}

.margin-bottom--335px {
  margin-bottom: 335px;
}

.margin-bottom--340px {
  margin-bottom: 340px;
}

.margin-bottom--345px {
  margin-bottom: 345px;
}

.margin-bottom--350px {
  margin-bottom: 350px;
}

.margin-bottom--355px {
  margin-bottom: 355px;
}

.margin-bottom--360px {
  margin-bottom: 360px;
}

.margin-bottom--365px {
  margin-bottom: 365px;
}

.margin-bottom--370px {
  margin-bottom: 370px;
}

.margin-bottom--375px {
  margin-bottom: 375px;
}

.margin-bottom--380px {
  margin-bottom: 380px;
}

.margin-bottom--385px {
  margin-bottom: 385px;
}

.margin-bottom--390px {
  margin-bottom: 390px;
}

.margin-bottom--395px {
  margin-bottom: 395px;
}

.margin-bottom--400px {
  margin-bottom: 400px;
}

.margin-bottom--405px {
  margin-bottom: 405px;
}

.margin-bottom--410px {
  margin-bottom: 410px;
}

.margin-bottom--415px {
  margin-bottom: 415px;
}

.margin-bottom--420px {
  margin-bottom: 420px;
}

.margin-bottom--425px {
  margin-bottom: 425px;
}

.margin-bottom--430px {
  margin-bottom: 430px;
}

.margin-bottom--435px {
  margin-bottom: 435px;
}

.margin-bottom--440px {
  margin-bottom: 440px;
}

.margin-bottom--445px {
  margin-bottom: 445px;
}

.margin-bottom--450px {
  margin-bottom: 450px;
}

.margin-bottom--455px {
  margin-bottom: 455px;
}

.margin-bottom--460px {
  margin-bottom: 460px;
}

.margin-bottom--465px {
  margin-bottom: 465px;
}

.margin-bottom--470px {
  margin-bottom: 470px;
}

.margin-bottom--475px {
  margin-bottom: 475px;
}

.margin-bottom--480px {
  margin-bottom: 480px;
}

.margin-bottom--485px {
  margin-bottom: 485px;
}

.margin-bottom--490px {
  margin-bottom: 490px;
}

.margin-bottom--495px {
  margin-bottom: 495px;
}

.margin-bottom--500px {
  margin-bottom: 500px;
}

.margin-top--0px {
  margin-top: 0;
}

.margin-top--5px {
  margin-top: 5px;
}

.margin-top--10px {
  margin-top: 10px;
}

.margin-top--15px {
  margin-top: 15px;
}

.margin-top--20px {
  margin-top: 20px;
}

.margin-top--25px {
  margin-top: 25px;
}

.margin-top--30px {
  margin-top: 30px;
}

.margin-top--35px {
  margin-top: 35px;
}

.margin-top--40px {
  margin-top: 40px;
}

.margin-top--45px {
  margin-top: 45px;
}

.margin-top--50px {
  margin-top: 50px;
}

.margin-top--55px {
  margin-top: 55px;
}

.margin-top--60px {
  margin-top: 60px;
}

.margin-top--65px {
  margin-top: 65px;
}

.margin-top--70px {
  margin-top: 70px;
}

.margin-top--75px {
  margin-top: 75px;
}

.margin-top--80px {
  margin-top: 80px;
}

.margin-top--85px {
  margin-top: 85px;
}

.margin-top--90px {
  margin-top: 90px;
}

.margin-top--95px {
  margin-top: 95px;
}

.margin-top--100px {
  margin-top: 100px;
}

.margin-top--105px {
  margin-top: 105px;
}

.margin-top--110px {
  margin-top: 110px;
}

.margin-top--115px {
  margin-top: 115px;
}

.margin-top--120px {
  margin-top: 120px;
}

.margin-top--125px {
  margin-top: 125px;
}

.margin-top--130px {
  margin-top: 130px;
}

.margin-top--135px {
  margin-top: 135px;
}

.margin-top--140px {
  margin-top: 140px;
}

.margin-top--145px {
  margin-top: 145px;
}

.margin-top--150px {
  margin-top: 150px;
}

.margin-top--155px {
  margin-top: 155px;
}

.margin-top--160px {
  margin-top: 160px;
}

.margin-top--165px {
  margin-top: 165px;
}

.margin-top--170px {
  margin-top: 170px;
}

.margin-top--175px {
  margin-top: 175px;
}

.margin-top--180px {
  margin-top: 180px;
}

.margin-top--185px {
  margin-top: 185px;
}

.margin-top--190px {
  margin-top: 190px;
}

.margin-top--195px {
  margin-top: 195px;
}

.margin-top--200px {
  margin-top: 200px;
}

.margin-top--205px {
  margin-top: 205px;
}

.margin-top--210px {
  margin-top: 210px;
}

.margin-top--215px {
  margin-top: 215px;
}

.margin-top--220px {
  margin-top: 220px;
}

.margin-top--225px {
  margin-top: 225px;
}

.margin-top--230px {
  margin-top: 230px;
}

.margin-top--235px {
  margin-top: 235px;
}

.margin-top--240px {
  margin-top: 240px;
}

.margin-top--245px {
  margin-top: 245px;
}

.margin-top--250px {
  margin-top: 250px;
}

.margin-top--255px {
  margin-top: 255px;
}

.margin-top--260px {
  margin-top: 260px;
}

.margin-top--265px {
  margin-top: 265px;
}

.margin-top--270px {
  margin-top: 270px;
}

.margin-top--275px {
  margin-top: 275px;
}

.margin-top--280px {
  margin-top: 280px;
}

.margin-top--285px {
  margin-top: 285px;
}

.margin-top--290px {
  margin-top: 290px;
}

.margin-top--295px {
  margin-top: 295px;
}

.margin-top--300px {
  margin-top: 300px;
}

.margin-top--305px {
  margin-top: 305px;
}

.margin-top--310px {
  margin-top: 310px;
}

.margin-top--315px {
  margin-top: 315px;
}

.margin-top--320px {
  margin-top: 320px;
}

.margin-top--325px {
  margin-top: 325px;
}

.margin-top--330px {
  margin-top: 330px;
}

.margin-top--335px {
  margin-top: 335px;
}

.margin-top--340px {
  margin-top: 340px;
}

.margin-top--345px {
  margin-top: 345px;
}

.margin-top--350px {
  margin-top: 350px;
}

.margin-top--355px {
  margin-top: 355px;
}

.margin-top--360px {
  margin-top: 360px;
}

.margin-top--365px {
  margin-top: 365px;
}

.margin-top--370px {
  margin-top: 370px;
}

.margin-top--375px {
  margin-top: 375px;
}

.margin-top--380px {
  margin-top: 380px;
}

.margin-top--385px {
  margin-top: 385px;
}

.margin-top--390px {
  margin-top: 390px;
}

.margin-top--395px {
  margin-top: 395px;
}

.margin-top--400px {
  margin-top: 400px;
}

.margin-top--405px {
  margin-top: 405px;
}

.margin-top--410px {
  margin-top: 410px;
}

.margin-top--415px {
  margin-top: 415px;
}

.margin-top--420px {
  margin-top: 420px;
}

.margin-top--425px {
  margin-top: 425px;
}

.margin-top--430px {
  margin-top: 430px;
}

.margin-top--435px {
  margin-top: 435px;
}

.margin-top--440px {
  margin-top: 440px;
}

.margin-top--445px {
  margin-top: 445px;
}

.margin-top--450px {
  margin-top: 450px;
}

.margin-top--455px {
  margin-top: 455px;
}

.margin-top--460px {
  margin-top: 460px;
}

.margin-top--465px {
  margin-top: 465px;
}

.margin-top--470px {
  margin-top: 470px;
}

.margin-top--475px {
  margin-top: 475px;
}

.margin-top--480px {
  margin-top: 480px;
}

.margin-top--485px {
  margin-top: 485px;
}

.margin-top--490px {
  margin-top: 490px;
}

.margin-top--495px {
  margin-top: 495px;
}

.margin-top--500px {
  margin-top: 500px;
}

/*# sourceMappingURL=kendys.css.map */
