.footer {
	min-height: 300px;
	padding: 10px 0;
	font-size: 0.9rem;
	line-height: 1.6;

	// Color temporal
	background-color: white;
	&--border {
		border-top: 1px solid $color-base;
		border-bottom: 1px solid $color-base;
	}
	
	// Clase temporal
	.flex--item {
		@media #{$media-tablet} {
			&:first-of-type {
				flex-shrink: 0;
			}
		}
	}

	&--item {
		
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				padding-left: 10px;
			}
		}
	}

	&--padding {
		padding: 40px 20px;
	}
}

.info {
	border-bottom: 1px solid $color-base;

	&--item {
		padding:0 10px;
	}

	&--item,
	&--link {
		color: $info--link;
	}
	&--link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.info,
.website {
	min-height: 50px;
}

.website {
	color: $info--link;
}

// Contenedor de imagen
.content-image {
	position: relative;
	width: 300px;
	height: 190px;

	&--image,
	&--caption {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		padding: 5px;
	}
	
	&--image {
		top: 0; bottom: 30%;

		img {
			display: block;
			position: relative;
			width: 100px;
			height: 100px;
			object-fit: scale-down;
			object-position: center;
		}
	}

	&--caption {
		top: 70%; bottom: 0;

		background-color: white;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.links {

	&--link {
		text-decoration: none;
		font-size: 0.85rem;
		outline: medium none;

		&:hover {
			text-decoration: underline;
		}
	}
	
	&--title,
	&--link {
		color: rgba(darken($color-base, 25), 0.8);
	}
}
