.button {
  // Tamaño de la fuente almacenada en una variable
  $font-size: 0.9;
  
  // Cajas Flexibles
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  // Otras propiedades CSS
  outline: medium none;
  text-decoration: none;
  border: 0;
  min-height: 35px;
  border-radius: 5px;
  transition: 200ms ease;
  background-color: darken(white, 10);
  background-image: none;

  color: darken(white, 70);
  cursor: default;
  padding: 0 10px;
  font-size: $font-size + rem;

  &:hover {
    color: $color-base;
  }
  
  &:active {
    background-color: rgba(darken(saturate($color-base, 50), 5), 0.05);
    transition: none;
    box-shadow: 0 0 0px 1px rgba($color-base, 0.3);
  }

  // Modificadores
  &--uppercase {
    text-transform: uppercase;
    font-size: ($font-size - 0.1) + rem;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }
  
  &--solid-translucid {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border: 1px solid;
    padding: 0 20px;

    // Propiedades a eliminar en el futuro
    font-size: 1.3rem;
    min-height: 50px;
    min-width: 170px;
  }

  &--small-t {
    font-size: 1rem;
    min-height: 40px;
    min-width: 140px;
  }

  &--big-t {
    font-size: 1.3rem;
    min-height: 50px;
    min-width: 170px;
  }
}
