.header {
	display: grid;
	grid-template-rows: 0 minmax(200px, 1fr);

	position: relative;
	// grid-template-rows: 0 minmax(300px, 1fr);

	&__navbar {
		z-index: 10;
	}
}

// Banner principal de la página
.banner {
	position: relative;
	overflow: hidden;
	height: 100vh;
	
	&--indicator {
		position: absolute;
		margin: auto;
		left: 0; right: 0;
		top: auto; bottom: 0;

		.indicator--item {
			background-color: rgba(white, 0.6);
		}

		.indicator--selected {
			background-color: saturate($color-base, 20);
		}
	}

	&__images {
		position: relative;
		max-width: 100vw;
		height: 100%;
		overflow: hidden;
		
		// Pseudo elementos
		&::before {
			content: "";
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;

			background-color: rgba(black, 0.4);
			z-index: 1;
		}
	}

	&__img {
		display: block;
		position: absolute;

		top: 0; bottom: auto;
		--width: 100vw;
		--height: 100vh;
		
		
		// Si el navegador no soporta object-fit
		// en la imagen se aplicarán por defecto las 
		// siguientes reglas CSS
		@media #{$portrait} {
			min-width: 100vw;
			height: var(--height);
			left: calc(var(--width) / -1.5);
		}

		@media #{$landscape} {
			min-height: 100vh;
			width: var(--width);
		}
		
		// Si el navegador las soportan, se aplicarán las 
		// siguientes reglas CSS a la imagen:
		@supports ( (object-fit: cover ) and (object-position: top center) ) {
			object-fit: cover;
			object-position: top center;
			width: var(--width);
			height: var(--height);
			left: 0;
		}
	}
}

// Menú de navegación
.menu {
	padding: 0;
	margin: 0;
	list-style-type: none;

	&__item {
		
	}

	&__link {
		text-decoration: none;
		outline: medium none;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Barra de navegación de la página
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	--height: 100px;
	
	@media #{$media-max-width-tablet} {
		--height: 50px;
	}

	margin: 0 auto;
	width: 90%;
	height: var(--height);
	
	z-index: 2;

	// Logotipo de kendys
	&__logo {
		max-height: 100%;
		width: var(--height);

		&--img {
			max-width: 100%;
			max-height: 100%;
			transition: 300ms ease;
			padding-bottom: 6px;
			background-color: rgba(white, 0.7);


			&:hover {
				background-color: white;
			}

			&:active {
				transition: none;
				transform: scale(0.98);
			}
		}
	}
	
	// Toggle Menú
	&__label {
		// Provisionalmente se establece esta propiedad
		display: none;

		--proporcion: 40px;

		color: white;
		cursor: default;
		width: var(--proporcion);
		height: var(--proporcion);
		max-height: 100%;
		border-radius: var(--border-radius-button);
		// display: flex;
		align-items: center;
		justify-content: center;
		transition: 300ms ease;

		@media #{$media-max-width-tablet} {
			display: flex;
			z-index: 1;
		}
		
		&:hover {
			background-color: rgba(saturate($color-base, 30), 0.5);
		}
	}

	&__checkbox {
		display: none;

	}

	&__checkbox:checked + &__label {
			// background-color: rgba(darken($color-base, 30), 0.5);
			
			&:hover {
				background-color: rgba(darken(saturate($color-base, 60), 20), 0.5);
			}
	}

	&__checkbox:checked ~ &__menu {
		// background-color: rgba(saturate($color-base, 40), 0.5);

		@media #{$media-max-width-tablet} {
			transform: rotateX(0deg);
		}

		@media #{$media-tablet} {
			transform: rotateX(0deg);
		}
	}


	// Menú de navegación
	&__menu {
		display: flex;
		height: 40px;

		transition: 600ms cubic-bezier(0, 0, 0.5, 2);

		@media #{$media-max-width-tablet} {
			flex-direction: column;
			width: 100vh;
			position: absolute;
			margin: auto;
			height: auto;
			top: 0;
			right: 0;
			bottom: auto;
			left: auto;
			background-color: rgba(darken($color-base, 30), 0.6);
			transform-origin: 50% 0;
			transform: rotateX(90deg);

			padding-top: var(--height);

		}

		@media #{$media-smartphone} {
			max-width: 70vh;
		}

		@media #{$media-tablet} {

		}

		&--item {
			display: flex;
			
			&:first-of-type {
				border-top: 1px solid rgba(lighten($color-base, 30), 0.3);
			}

			@media #{$media-max-width-tablet} {
				min-height: 40px;
			}
		}

		&--link {
			display: flex;
			align-items: center;
			color: white;
			text-transform: uppercase;
			font-size: 0.85rem;
			padding: 0 10px;
			border-radius: var(--border-radius-button);
			transition: 150ms ease;
			
			// Bordes
			border-width: 2px;
			border-style: solid;
			border-color: transparent;

			// Smartphone
			@media #{$media-max-width-tablet} {
				width: 100%;
				border-radius: 0;
			}

			&:hover, &:focus {
				background-color: rgba($color-base, 0.2);
				color: lighten($color-base, 70);

				text-decoration: none;
			}

			&:active {
				// color: lighten($color-base, 30);
				background-color: rgba(saturate(darken($color-base, 20), 50), 0.55);
				// box-shadow: inset 0 0 20px 1px rgba($color-base, 0.55);
				// background-color: transparent;
			}

		}
	}
}