.main {
	// display: grid;
	// grid-template-rows: auto 1fr auto;

	min-height: 100vh;

	&__header {
		background-color: darken($color-base, 40);
	}

	// Inactivos provisionalmente
	// &__sections, &__footer {
		
	// }
	&__footer {

		// Propiedades provisionales
		background-color: silver;
		color: black;
	}
}

.flex {
	display: flex;

	// Opción predeterminada
	&--row {
		flex-direction: row;
	}

	&--column {
		flex-direction: column;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--nowrap {
		flex-wrap: nowrap;
	}

	// Flex basis del 1 al 12
	@for $flex from 0 through 12 {
		&--grow-#{$flex} {
			flex-grow: $flex;
		}

		&--shrink-#{$flex} {
			flex-shrink: $flex;
		}
	}

	// Alineación de contenido en el eje secundario
	@at-root .align-items--center {
		align-items: center;
	}

	@at-root .align-item--stretch {
		align-items: stretch;
	}

	// Alineación de contenido en el eje principal
	@at-root .justify-content--center {
		justify-content: center;
	}

	@at-root .justify-content--space-between {
		justify-content: space-between;
	}

	&--item {
		flex-basis: 200px;
	}
}
// Barra de contáctanos
.navbar-contact-us {
	position: relative;
	margin: 0 auto;
	min-height: 70px;
	width: 100%;
	padding: 3px 10px;

	// Colores provisionales
	background-color: darken($color-base, 35);

	.phone {
		display: block;
		padding: 0 10px;

		span:last-of-type {
			padding-left: 10px;
		}
	}

	.phone,
	.email,
	.rrss {
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 10px;
		
	}
	
	&--item {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0;
		min-width: 250px;
		
		// Color por defecto
		color: desaturate(lighten($color-base, 37), 30);

		@media #{$media-smartphone} {
			&:not(.h) {
				margin-bottom: 5px;
			}
		}
		@media #{$media-tablet} {
			&:not(.h) {
				flex-basis: 300px;
				margin-bottom: 5px;
			}
		}

		&:not(.input-text) {
			height: 40px;
		}
	}
	
	h1.h,
	h2.h,
	h3.h,
	h4.h,
	h5.h,
	h6.h {

		@media screen and (max-width: 1270px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	&--item,
	&--link {
		font-size: 0.9rem;
	}
	// Íconos dentro de la barra de contactos
	&--icons {
		height: 27px;
		padding-right: 10px;
	}

	// Enlaces
	&--link {
		--width: 40px;

		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: desaturate(lighten($color-base, 37), 30);
		padding: 0 10px;
		height: 100%;
		max-height: var(--width);
		min-width: var(--width);
		border-radius: 5px;
		transition: 300ms ease;

		&:hover {
			background-color: rgba(lighten($color-base, 40), 0.2);
			color: lighten(saturate($color-base, 75), 30);
		}
	}

	// Entradas de textos
	.input-text {
		--height: 35px;

		color: white;
		min-width: 250px;
		height: var(--height);
		border-radius: calc(var(--height) / 2);
		
		[type] {
			// Variable
			--diametro: 26px;

			display: block;
			position: absolute;
			margin: auto;
			top: 0; bottom: 0;
			background-image: none;
			outline: medium none;
		}

		[type="text"] {
			left: 0; right: 0;
			width: 100%;
			height: 100%;
			border: 0;
			background-color: transparent;
			border: 1px solid rgba(white, 0.25);
			color: white;
			padding: 0 calc(var(--diametro) * 1.22) 0 18px;
			border-radius: calc(var(--height) / 2);
			font-size: 0.9rem;
			text-overflow: ellipsis;
			z-index: 1;
		}

		[type="button"],
		[type="submit"],
		button {

			width: var(--diametro);
			height: var(--diametro);
			border-radius: calc(var(--diametro));
			color: white;
			background-color: $color-base;
			border: 0;

			left: auto; right: 5px;
			cursor: default;
			z-index: 2
		}
	}
}

// Rejillas en CSS
.grid {
	display: grid;
	position: relative;
	justify-content: center;

	&--image {
		display: block;
		position: absolute;
		margin: auto;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center top;
		
	}

	&--item {
		position: relative;
		overflow: hidden;

		display: flex;
		justify-content: center;
		align-items: center;

		// Se determinará en función de la altura 
		// y se aplicará responsive cuando sea necesario
		$height: columnas(3);
		min-height: $height;
	}

	&--gallery {
		z-index: 0;
		$height: columnas(4);
		min-height: calc(#{$height} - 75px);

		&:nth-of-type(2n + 1) {
			&::before {
				background-color: darken($color-base, 43);
			}
		}

		&::before {
			font-size: 10rem;

			display: flex;
			justify-content: center;
			align-items: center;
			color: darken($color-base, 20);
			background-color: darken($color-base, 40);

			// Posicionamiento
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background-color: rgba(black, 0.2);
		}
	}
}

@for $i from 1 through 12 {
	.column-#{$i} {
		grid-template-columns: repeat($i, minmax(200px, 1fr));
		
		// .grid--item {
		// 	min-height: 100 / $i + vw;
		// }
	}
}

@for $i from 1 through 20 {
	$num: $i * 5;

	.gap-#{$num} {
		grid-gap: #{$num}px;
	}
}

// Reglas CSS para las colecciones
.collections {

	&--item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		background-color: rgba($color-base, 0.3);
		> * {
			// width: 100%;

			display: flex;
			justify-content: center;

			margin: 0;
			
			// Todos los elementos anidados en &--item, menos
			// los que se mencionan:
			&:not(hr):not(.collections--h) {
				padding: 10px;
				font-size: 0.9rem;

				width: 80%;
			}
		}

		@at-root .collections--h {
			padding: 30px 10px 5px 0;
		}

		hr {
			border: 0;
			border-bottom: 15px solid $color-base;
			width: 25%;
			
		}
	}
	
	&--h {
		color: white;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
	}

	&--tips {
		height: 100%;

		// Cajas flexibles
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 20px;
		}

		p {
			max-width: 65%;
			line-height: 1.6;
		}
	}
}

// Estilos de la sección blog
.blog {
	padding: 5px 20px;
	padding-bottom: 100px;

	&--content-card {
		margin: 0 auto;
	}

	&--card {
		background-color: #f9f9f9;
		color: darken($color-base, 27);
	}

	&--img {
		position: relative;
		background-color: darken($color-base, 30);
		color: white;
	
		height: 400px;
		overflow: hidden;

		img {
			display: flex;
			justify-content: center; 
			align-items: center;
			text-transform: uppercase;
			
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center top;
		}
	}

	&--text {
		padding: 10px;
		font-size: 0.8rem;
	}

	&--text-content {
		font-size: 3rem;
		text-align: center;
		padding: 50px 0;
	}
}

// Textos y transformaciones
.text {
	&--capitalize {
		text-transform: capitalize
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--lowercase {
		text-transform: lowercase;
	}

	&--small {
		font-size: 0.8em;
	}

	&--normal {
		font-size: 1em;
	}

	&--big {
		font-size: 2.3em;

		// Ajustar los tamaños
		&-lg {
			font-size: 3em;
		}
	}

	&--center {
		text-align: center;
	}

}

.text-content {
	position: relative; 
	min-height: 200px;

	color: darken(white, 60);

	* {
		margin: 0;
	}

	&__p {
		width: 100%;
		max-width: 780px;
		margin-top: 30px;
		margin-bottom: -40px;
		line-height: 1.6;
	}
}

// Accesorios
.accessories {
	&--background-image {		
		// Imagen de fondo
		background-image: url("../images/fotos/banner-accesorios.jpg");
		background-attachment: scroll;
		background-size: 110% auto;
		background-position: 40% 45%;

		&::before {
			content: "";
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background-color: rgba(black, 0.0);
		}

	}
	
	// Contenido de texto
	&--text-content {
		min-height: 260px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1, h2, h3, h4, h5, h6 {
			color: saturate($color-base, 10);
			letter-spacing: 3px;
		}

		h1, h2, h3, h4, h5, h6, p {
			text-align: center;
			z-index: 3;
		}
	}

	// Modificador de la caja contenedora de la
	// galería de imágenes.
	&--content {
		padding: 50px;
		background-color: white;
	}

	// Modificador
	&--text {
		min-height: 270px;
	}
}

// Sliders dos columnas
.sliders {

	&, &--left, &--right {
		position: relative;
	}

	&--right {

		&::before {
			content: "";
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background-color: rgba(black, 0.3);
			z-index: 1;
		}
	}

	&--content {
		min-height: 400px;
	}

	// Títulos
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	
	// Párrafos
	p {
		margin-bottom: 20px;
	}
	
	// Botones
	.button {
		margin-top: 20px;
	}
	
	img {
		$object-fit: cover;
		$object-position: center 45%;
		
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		
		// Objeto recortado
		-o-object-fit: $object-fit;
		object-fit: $object-fit;
		-o-object-position: $object-position;
		object-position: $object-position;
	}
}

// Contener de indicadores de imagen
.indicator {
	min-height: 30px;

	// Cajas flexibles
	display: flex;
	justify-content: center;
	align-items: center;

	// Solapamiento
	z-index: 3;

	// Indicadores de imagen
	&--item {
		// Diámetros de las esferas
		--diametro: 10px;
	
		// Proporciones
		height: var(--diametro);
		width: var(--diametro);
		border-radius: calc(var(--diametro) / 2);
	
		// Apariencia
		background-color: darken(white, 20);
		margin: 5px;

		cursor: pointer;
	}

	&--selected {
		background-color: saturate($color-base, 20);
	}
}

// SOBRE NOSOTROS
.about {
	&--tips {
		// Caja flexible
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		
		// Tipografía
		text-transform: uppercase;
		font-size: 0.9rem;

		// Dimensiones
		min-height: 90px;
	}

	&--title {
		padding: 20px 10px;
	}

	&--title,
	&--description {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&--description {
		margin: 0 auto;
		font-size: 0.8rem;
		max-width: 1020px;
		line-height: 1.5;
		padding: 10px 10px 40px 10px;
	}
}

// Navegador de imágenes
.nav-image {
	&--left,
	&--right {
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		width: 100px;
		height: 100px;

		// Colores;
		color: white;

		// Transiciones
		transition: 200ms ease;
		
		//  Objetos 3D
		transform-style: preserve-3d;
		perspective: 10px;

		// Solapamiento
		z-index: 3;

		&:hover {
			background-color: rgba(black, 0.3);

			&::before {
				color: $color-base;
			}
		}

		&:active {
			transition: none;
		}

		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 2rem;
		}
	}

	&--left {
		left: 0; right: auto;
		transform-origin: left;
		&:active {
			transform: rotateY(20deg);
		}
	}

	&--right {
		left: auto; right: 0;
		transform-origin: right;

		&:active {
			transform: rotateY(-20deg);
		}
	}
}

// Título de Kendys
.kendys {
	&--title {
		position: relative;
		margin: 0;
		font-size: 3rem;
		color: $color-base;
		text-transform: uppercase;
		padding-bottom: 10px;

		&::before {
			content: "";
			height: 8px;
			width: 50%;
			background-color: $color-base;
			display: block;
			position: absolute;
			margin: auto;
			left: 0; right: 0;
			top: auto; bottom: 0;
			
		}
	}
}