@mixin interpolar ($propiedad, $unidad: "%", $final: 20) {
  @for $i from 0 through $final {
    $num: $i * 5;

    
    @if $unidad == "%" {
      .#{$propiedad}--#{$num} {
        #{$propiedad}: propiedad($num, $unidad);
      }
    }@else {
      .#{$propiedad}--#{$num}#{$unidad} {
        #{$propiedad}: propiedad($num, $unidad);
      }
    }
  }
}